<!DOCTYPE html>
<html>
  <head>
    <title><PAPARAZZI></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload your escapades here!</h1>
    <form   ref='uploadForm' 
			id='uploadForm' 
			action='/upload' 
			method='post' 
			encType="multipart/form-data">
		<input type="file" multiple="multiple" accept="image/*" name="photos" />
		<input type="text" name="token" value="<%- token %>" style="display:none;">
		<input type='submit' value='Upload!' />
    </form>
  </body>
</html>
